#welcome-section {
  padding-block: 2rem;
  background-color: #fdfd96;
  display: grid;
  place-items: center;
  height: 100vh;
  min-height: 500px;
}

.header_titulo {
  text-align: center;
  font-family: var(--font-vollkorn);
  font-weight: 700;
  margin: auto;
  width: fit-content;
}
.separador_principal {
  height: 8px;
  background-color: yellow;
  border: 3px solid black;
  width: 80%;
  margin: auto;
}
.header_descripcion {
  text-align: center;
  font-family: var(--font-fredoka);
  font-size: 1rem;
  width: 80%;
  margin: auto;
  font-weight: 500;
  line-height: 1.2rem;
  @media screen and (min-width: 480px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.header_descripcion span {
  font-weight: 900;
  font-family: var(--font-vollkorn);
  text-decoration: underline;
}
.header_descripcion span a:hover {
  color: red;
}

.header_img {
  display: block;
  width: 80%;
  max-width: 500px;
  margin: auto;
}
.header_img img {
  margin-top: 1rem;
  width: 100%;
}
.header_img figcaption {
  text-align: center;
  font-family: var(--font-namdin);
  font-weight: bold;
}
